#sidebar {
    background: linear-gradient(180deg, #8a0674 0%, #690404 100%);
}

.nav-link {
    transition: all 0.3s;
}

.nav-link:hover {
    transform: translateX(10px);
}

#miCarrusel {
    margin: 20px auto;
    max-width: 750px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f8f9fa; 
}

#miCarrusel img {
    height: 400px;
    object-fit: contain; 
    width: 100%;
}

#pokeball{
    transition: transform 0.6s ease;
}

#pokeball:hover{
    transform: rotate(360deg) scale(1.1);
    cursor: pointer;
}