#formIS {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;          
    background-color: #f5f5f5; 
}

#inicioSesion {
    background-color: white;    
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
     position: relative;
}

#loguito {
    position: absolute;
    top: -15%; 
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#pokeball {
    width: 80px;
    height: 80px;
    object-fit: contain;
}